<div class="content-main" id="timeline">
    <div class="timeline-tweet-box">
      <div class="home-tweet-box tweet-box-component tweet-user">
          <input class="tweet-input" [(ngModel)]="newTweetContents" placeholder="いまどうしてる？">
          <button (click)="setTweetContents(newTweetContents)">ツイート</button>
      </div>
    </div>
  <div class="stream-container">
    <div class="stream">
      <li class="stream-items" *ngFor="let tweetContent of tweetContents">{{ tweetContent.user }} : {{ tweetContent.contents }}</li>
    </div>
  </div>

</div>
