<div class="content-main" id="timeline">
    <div class="timeline-tweet-box">
      <div class="home-tweet-box tweet-box-component tweet-user">
          <input class="tweet-input" [(ngModel)]="newTweetContents" placeholder="いまどうしてる？">
          <button (click)="setTweetContents(newTweetContents)">ツイート</button>
          <input type='file' accept="image/*" (change)="onChangeInput($event)">
      </div>
      <img [src]=imageSrc alt="" />
    </div>
  <div class="stream-container">
    <div class="stream">
      <div class="stream-items" *ngFor="let tweetContent of tweetContents">
          <li>{{ tweetContent.user }} : {{ tweetContent.contents }}</li>
          <div *ngIf="tweetContent.file">
              <img class="tweet-image" [src]=tweetContent.file alt="" />
          </div>
      </div>
    </div>
  </div>

</div>
