<app-top-bar></app-top-bar>

<div class="page-container">
  <div id="page-container" class="AppContent">
    <div class="dashboard">
        <div class="DashboardProfileCard module">Profile Card</div>
        <div class="module Trends">Trends</div>
    </div>
    <div class="content-main" id="timeline">
      <div class="timeline-tweet-box">
        <div class="home-tweet-box tweet-box-component tweet-user">
          <form action="/search" class="t1-form tweet-form-condensed">
            <input type="text" class="search-input" id="search-query" placeholder="いまどうしてる？">
          </form>
        </div>
      </div>
      <div class="stream-container">
        <div class="stream">
          <div class="stream-items">Contents</div>
        </div>
      </div>
    </div>
    <div class="dashboard">
      Contents Right
    </div>
  </div>
</div>

<router-outlet></router-outlet>
