/* basic */
body {
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  text-align: inherit;
  display: list-item;
}

form {
  display: block;
}

button {
  background: transparent;
  transition: box-shadow .15s ease-in-out;
}

/* main contents */
.page-container {
  padding-top: 10px;
}
