<div class="top-bar">
  <div class="global-nav">
    <div class="globa-nav-inner">
      <div class="container">
        <div>
          <ul class="nav">
            <li id="global-nav-home">Home</li>
            <li class="moments">Moments</li>
            <li class="notifications">Notifications</li>
            <li class="dm">DM</li>
          </ul>
        </div>
        <div class="pull-right nav-extras">
          <div class="search">
            <form action="/search" class="form-search" id="global-nav-search">
              <input type="text" class="search-input" id="search-query" placeholder="キーワード検索">
            </form>
          </div>
          <ul class="nav right-actions">
            <li class="me dropdown"></li>
            <li class="topbar-tweet-btn">
              <button id="global-new-tweet-button">
                <span class="text">ツイート</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-container">
  <div>bb</div>
</div>

<router-outlet></router-outlet>
